<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    printerClass="DiabloMedia\PHPUnit\Printer\PrettyPrinter"
    mapTestClassNameToCoveredClassName="true"
>
    <testsuites>
        <testsuite name="Admin test suite">
            <directory>tests/Admin</directory>
        </testsuite>
    </testsuites>
</phpunit>