@mixin clickable-element {
    // resets native button/link styles
    // and unifies outlines

    cursor: pointer;
    text-decoration: none;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    color: inherit;
    font-size: inherit;

    &:focus {
        outline-width: 1px;
        outline-style: dotted;
        outline-color: $color-highlight-normal;
    }

    &:active {
        outline: none;
    }

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

}


@mixin icon-small {
    font-size: 16px;
    line-height: 1;
}

@mixin icon {
    font-size: 18px;
    line-height: 1;
}

@mixin icon-large {
    font-size: 22px;
    line-height: 1;
}

@mixin triangle($direction, $sizeH, $sizeV, $color) {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    -moz-transform: scale(.9999);

    @if $direction == top {
        border-width: 0 $sizeV $sizeH $sizeV;
        border-color: transparent transparent $color transparent;
    }
    @if $direction == bottom {
        border-width: $sizeV $sizeH 0 $sizeV;
        border-color: $color transparent transparent transparent;
    }
    @if $direction == left {
        border-width: $sizeV $sizeH $sizeV 0;
        border-color: transparent $color transparent transparent;
    }
    @if $direction == right {
        border-width: $sizeV 0 $sizeV $sizeH;
        border-color: transparent transparent transparent $color;
    }
    @if $direction == topright {
        border-width: 0 $sizeH $sizeV 0;
        border-color: transparent $color transparent transparent;
    }
    @if $direction == bottomright {
        border-width: 0 0 $sizeH $sizeV;
        border-color: transparent transparent $color transparent;
    }
    @if $direction == bottomleft {
        border-width: $sizeH 0 0 $sizeV;
        border-color: transparent transparent transparent $color;
    }
    @if $direction == topleft {
        border-width: $sizeH $sizeV 0 0;
        border-color: $color transparent transparent transparent;
    }
}








