*
{
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html, body
{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body
{
    position: relative;

    background-color: $color-background-lightest;
    color: $color-text-normal;
}




