// usage of <ul class="block"> is deprecated as of 2015-11-27
// use SASS block-list mixin where needed
// :TODO: remove this class definition no later than on 2016-05-27
.block
{
    @include block-list;
}


// usage of <div class="clear-inside"> is deprecated as of 2015-11-27
// use SASS clear-inside mixin where needed
// :TODO: remove this class definition no later than on 2016-05-27
.clear-inside
{
    @include clear-inside;
}

// usage of <div class="clear"> is deprecated as of 2015-11-27
// instead of adding empty elements just to clear something,
// use clear-inside mixin on the box containing floats
// :TODO: remove this class definition no later than on 2016-05-27
.clear
{
    display: block;
    clear: both;
    overflow:   hidden;
    visibility: hidden;
    height: 0px;
}