// this file is intentionally left empty
// it is included as the last layout import
// and is intended to be overriden in actual applications
// when something needs to be added or changed in the layout

// the override file should be placed in
// app/assets/stylesheets/leaf/layout/extras.scss
// and then it will be used instead of this one

// rails cache will have to be cleared for the framework to detect this file
