select,
textarea,
input.text
{
    color: $color-text-normal;
    background-color: $color-background-lighter;
    border: 1px solid $color-border-normal;
    outline: none;
    font-weight: bold;

    &:hover
    {
        border: 1px solid $color-border-darker;
    }

    &:focus
    {
        background-color: $color-background-lightest;
        border: 1px solid $color-border-darkest;
    }

    .field &
    {
        width: 100%;
    }
}

select
{
    height: $input-height;
    padding: steps(0.5) 0 steps(0.5) steps(1);

    option
    {
        padding: 0 0 0 steps(1);
    }

}

textarea
{
    height:  $textarea-height;
    padding: steps(0.5) steps(1);
}

input.text
{
    height: $input-height;
    padding: 0 steps(1);
    -webkit-appearance: textfield;
}


.field
{
    padding: steps(0.5) 0;
    float: left;
    width: calc(100% - #{$form-gutter-width});
    position: relative;
    min-height: steps(7);
    margin: 0 $form-gutter-half;
    
    &.i18n > .field {
        margin-left: 0;
        width: 100%;
    }

    &.has-error:not(.i18n),
    &.i18n.has-error .localization.has-error
    {
        select,
        textarea,
        input.text,
        .mceLayout
        {
             border: 1px solid $color-alert;
        }
    }

    &.type-associated-set
    {
        width: auto;
        margin-right: 0;

        .type-associated-set-item
        {
            float: left;
            width: steps(24);
        }
    }

    .label-wrap
    {
        padding: steps(0.5) 0;
        
        .required {
            color: red;
            font-weight: bold;
        }

        .description
        {
            @include font-size-smaller;
        }
    }

    .value
    {
        position: relative;

        .error-box
        {
            position: absolute;
            right:  steps(0.5);
            bottom: steps(-2);
            color: $color-alert;

            @include font-size-smaller;
            font-style: italic;
        }
    }


    &.type-item {
        img {
            width: steps(5);
            margin-right: steps(1);
            float: left;
        }
    }


    &[data-name="file"] {
        word-wrap: break-word;
    }

}

