.form-filter
{
  position: fixed;
  width: steps(35);
  right: steps(-35);
  top: steps(10);
  transition: right 0.3s ease;
  height: calc(100vh - 120px);
  box-shadow: -2px 4px 8px 0 rgba(0,0,0,0.15);
  background: white;
  z-index: 20;

  &.show
  {
    right: 0;
  }

  .title-block
  {
    padding: 22px 20px 19px 20px;
    background: $color-background-normal;
    display: flex;
    align-items: center;

    .close
    {
      margin-left: auto;
    }
  }

  h2
  {
    font-size: 16px;
    letter-spacing: 0.9px;
    float: left;
  }
}