form, fieldset
{
    display: block;
    border:  0;
    margin:  0;
    padding: 0;
}

form fieldset
{
    padding: 0 0 steps(2) 0;
    margin: steps(3);
    clear: both;
    @include clear-inside;
}

.form-error-box
{
    padding: steps(1) steps(2);
    margin: 0;
    color: $color-notification-error-text;
    background-color: $color-notification-error-background;
}
