.notifications {
    &.fixed {
        width: 40%;
        position: fixed;
        z-index: 60;
        top: 0;
        margin: 0 auto;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .notification {
        border-radius: 5px;
        position: relative;
        background: $color-background-lighter;

        @include font-size-larger;

        padding: steps(1) steps(3) steps(1) steps(1);
        margin-top: steps(1);
        text-shadow: none;

        &[data-type="success"] {
            background-color: $color-notification-success-background;
            color: $color-notification-success-text;
        }

        &[data-type="error"] {
            background-color: $color-notification-error-background;
            color: $color-notification-error-text;
        }

        > .icon {
            float: left;
            margin-left: steps(0.5);
            @include icon-large;
        }

        > .content {
            margin-left: steps(3);
            margin-right: steps(3);
            text-align: center;
        }

        > .close {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.flash {
    display: none;
}


