.panel {

  padding: steps(2) steps(3);

  > header {
    @include section-header;
    @include clear-inside;

    .title
    {
      float: left;
    }

    .extras
    {
      float: right;


      &:not(.only-text)
      {
        margin: steps(-0.5) steps(-2) steps(-0.5) 0;

        > * {
          display: inline-block;
        }
      }
    }
  }

  > .content {

    border: 1px solid $color-border-normal;
    border-radius: $border-radius;
    padding: steps(1) 0 ;

    @include clear-inside;
  }
}