form.search, .global-search {
    text-align: right;
    float: right;
    display: inline-block;
    margin-left: auto;

    &.has-extra-search:not(.has-text-search) {
        clear: left;
    }

    .search-field {
        display: inline-block;
        margin-left: steps(2);

        label,
        input,
        select {
            margin-left: steps(1);
        }
    }

    .text-search {

        .search-field[data-name="search"] {
            position: relative;

            input[type="search"] {
                width: steps(18);
                border-color: $color-border-light;

                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    display: none;
                }

            }

            .button {
                position: absolute;
                right: 0;
                top: 0;
                background: transparent;
                color: $color-highlight-normal;

                &:hover {
                    color: $color-text-light;
                }
            }
        }
    }

    .extras {
        @include clear-inside;

        background-color: $color-background-lighter;
        border: 1px solid $color-border-light;
        margin: -1px 0 (steps(-1) - 1px) 0;
        padding: steps(2);

        input:not([type="checkbox"]):not([type="radio"]),
        select {
            width: steps(14);
        }

        .button {
            margin-left: steps(2);
        }
    }
}

.global-search {
    position: relative;
    padding: 0 24px;

    .search-field, input {
        margin-left: 0 !important;
    }

    .results-list {
        position: absolute;
        margin-top: 20px;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        top: 100%;
        width: 186px;
        border-radius: 4px;

        .close {
            display: none;
            position: absolute;
            height: 32px;
            top: 0;
            right: -18%;
            padding: 4px 12px;
            background: #D3D3D3;
            color: #000000;
            cursor: pointer;
            border-radius: 4px;
        }

        .records {
            border: 1px solid #D3D3D3;
            border-radius: 4px;
            display: none;
            height: 32px;
        }

        div {
            text-align: left;
            cursor: pointer;
            background-color: #FFFFFF;

            h4 {
                background: #D3D3D3;
                color: #000000;
                padding: 4px 12px;
                height: 32px;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                i {
                    color: #000000;
                    vertical-align: middle;
                }

                li {
                    padding: 4px 12px;
                }
            }

            .no-results {
                background: #FFFFFF;
                padding: 4px 12px;
            }
        }
    }

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #D3D3D3;
        color: #19a55c;
        padding: 4px 12px;
        height: 32px;
    }

    .loading-dots {
        width: 12px;
        height: 12px;
        aspect-ratio: 1;
        border-radius: 50%;
        animation: dots 1s infinite linear alternate;
    }
}

@keyframes dots {
    0% {
        box-shadow: 20px 0 #000, -20px 0 #0002;
        background: #000
    }
    33% {
        box-shadow: 20px 0 #000, -20px 0 #0002;
        background: #0002
    }
    66% {
        box-shadow: 20px 0 #0002, -20px 0 #000;
        background: #0002
    }
    100% {
        box-shadow: 20px 0 #0002, -20px 0 #000;
        background: #000
    }
}