.table
{
    width: 100%;
    border-collapse: collapse;
    background-color: $color-background-lightest;

    thead {
        tr:first-child {

            th:first-child {
                border-top-left-radius: $border-radius;
            }

            th:last-child {
                border-top-right-radius: $border-radius;
            }
        }
    }

    th, td
    {
        position: relative;
        border:  1px solid $color-border-normal;
        padding: 0;
        vertical-align: top;

        .sortable {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            padding: steps(1) steps(1) steps(1) steps(1)+4;
            text-decoration: none;
            color: $color-text-normal;

            .sortables {
                position: relative;
                line-height: 1;
                color: $color-highlight-lighter;
                height: 34px;

                .mt-icon {
                    font-size: 14px;
                }

                >i {
                    position: absolute;
                    right: 0;

                    &.up {
                        top:0;
                    }

                    &.down {
                        bottom: 0;
                    }
                }
            }

            &.up {

                .sortables .up {
                    color: $color-highlight-darker;
                }
            }

            &.down {

                .sortables .down {
                    color: $color-highlight-darker;
                }
            }
        }
    }

    tr th,
    tr th span,
    tr th a
    {
        text-align:  left;
    }

    tr:nth-child(odd) td
    {
        background-color: $color-background-lighter;
    }

    tr:nth-child(odd):hover td {
        background-color: $color-highlight-lighter;
    }

    tr:hover td
    {
        background-color: $color-highlight-lightest;
    }

    td a:not(.button),
    td > span
    {
        text-decoration: none;
        color: $color-text-normal;
        display: inline-block;
        min-height: 100%;
        width: 100%;

        &:empty
        {
            // attempt to stretch empty links to full cell height
            // at least if the cell contents in the row do not wrap to multiple lines
            min-height: steps(3);
            margin-bottom: steps(-1);
        }
    }


    th,
    td:not(.only-icon) a:not(.button),
    td > span
    {
        padding: steps(1)+3 steps(1)+4;
    }

    th:first-child,
    td:first-child:not(.only-icon) a:not(.button),
    td:first-child > span
    {
        padding-left: steps(1)+4; // align first column with table heading
    }


    th span
    {
        display: block;
    }

    td.only-icon
    {
        text-align: center;
        width: steps(3);
    }
}



