*
{
    @include reset-font;
}

html
{
    @include body-font;
    @include font-size-normal;

    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p
{
    font-size:   inherit;
}

h1, h2, h3, h4, h5, h6
{
    margin: 0;
    padding: 0;
    @include font-bold;
}

p
{
    margin-top: 0;
}

b, strong {
    @include font-bold;
}
