.toolbox
{
    .trigger
    {
        display: inline-block;
        color: $color-highlight-normal;
        height: 52px;
        width: 40px;

        &, &:hover
        {
            background-color: transparent;
        }

        .mt-icon
        {
            @include icon-large;
        }
    }

    &:not(.initialized)
    {
        .trigger
        {
            color: $color-text-lightest;
        }
    }
}


.toolbox-items
{
    @include pop-up-menu;

    > .fa-caret-up
    {
        position: absolute;
        top: steps(-1);
    }

    min-width: steps(15);

    > ul
    {
        @include inverted($color-background-lightest, $color-text-normal);
        border: 1px solid $color-border-normal;
        border-radius: $border-radius;

        .button
        {

            border-radius: 0;

            &:hover
            {
                background-color: $color-highlight-normal;
            }
        }

        /* triangle */
        &:before,
        &:after {
            content: "";
            position: absolute;

        }

        &:before {
            @include triangle(right,6px,7px,$color-border-normal);
            top: 11px;
            right: -6px;
        }

        &:after {
            @include triangle(right,5px,6px,$color-background-lightest);
            top: 12px;
            right: -5px;
        }
    }

    li:not(:last-child) .button
    {
        border-bottom: 1px solid $color-border-normal;
    }

    li:first-child .button {
        border-radius: $border-radius $border-radius 0 0;
    }

    li:last-child .button {
        border-radius: 0 0 $border-radius $border-radius;
    }

}


.toolbox-overlay
{
    @include full-screen-overlay;
}


