section.type-map-coordinates {
    padding-top: steps(3.5);
    
    .canvas {
        width: 100%;
        height: 420px;
    }
    
    .field {
        position: absolute;
        top: steps(1.5);
        right: 0;
        min-width: 40%;
    }
}

