
.type-object-relation {
    user-select: none;

    &:not(.single) {
        float: none;
    }

    .relations, .related {
        max-height: steps(20);
        border: 1px solid $color-border-normal;
        overflow: auto;

        .item {
            cursor: default;
            position: relative;
            list-style: none;
            height: steps(2);
            padding-left: steps(1);
            overflow: hidden;

            // nested item indentation
            @for $i from 1 through 10
            {
                &[data-level="#{$i}"] {
                    padding-left: ($i+1) * steps(1);
                }
            }

            &:hover {
                color: white;
                background-color: $color-highlight-normal;
            }
        }
    }

    &.multiple
    {
        clear: both;
        width: auto;
        margin-right: steps(2);
        padding: 0;

        .contents {
            border: 1px solid $color-border-normal;
            overflow: hidden;
            position: relative;
            height: steps(20);
        }

        .relations, .related {
            height: 100%;
            border: none;
        }

        .relations {
            float: left;
            width: 50%;
            background-color: $color-background-lightest;
        }

        .related {
            float: right;
            width: 50%;
        }
    }

    &.single {
        .related {
            position: relative;
            height: steps(3);
            border: 1px solid $color-border-normal;

            &:hover {
                border-color: $color-border-darker;
            }

            .item {
                padding-left: steps(1);
                padding-top: steps(0.5);
                height: 100%;

                &:hover {
                    color: $color-text-darkest;
                    background-color: transparent;
                }
            }
        }

        .relations {
            display: none;
            position: absolute;
            top: steps(3);
            z-index: 10;
            background-color: white;
            width: 100%;
            margin-top: -1px;

            &.active {
                display: block;
            }
        }
    }
}