
.type-object-relation {
    user-select: none;
    
    &:not(.single) {
        float: none;
    }
    
    .object-relation[data-indent] {
        .item {
            &[data-inactive=true] {
                color: $color-text-lightest;
                
                &:hover {
                    color: $color-text-normal;
                    background-color: $color-highlight-lightest;
                }
            }
        }
    }
    
    .relations, .related {
        overflow: auto;
        
        .item {
            cursor: default;
            position: relative;
            list-style: none;
            overflow: hidden;
            height: steps(2);
            padding-left: steps(1);
        }
    }
    
    &.interactive {
        .relations, .related {
            .item {
                &[data-inactive=false]:hover {
                    color: white;
                    background-color: $color-highlight-normal;
                }
            }
        }
    }
    
    .relations {
        .group {
            & > .title {
                @include font-bold;
                padding-left: steps(1);
            }
            
            .item {
                padding-left: steps(2);
            }
        }
        
        .item {
            // nested item indentation
            @for $i from 1 through 10
            {
                &[data-level="#{$i}"] {
                    padding-left: ($i+1) * steps(1);
                }
            }
        }
    }
    
    &.multiple
    {
        clear: both;
        width: auto;
        margin-right: steps(2);
        padding: 0;
        
        .contents {
            border: 1px solid $color-border-normal;
            overflow: hidden;
            position: relative;
            height: steps(20);
        }
        
        .relations, .related {
            height: 100%;
            border: none;
        }
        
        .relations {
            float: left;
            width: 50%;
            background-color: $color-background-lightest;
            
            .group {
                & > .title {
                    display: block;
                }
            }
        }
        
        .related {
            float: right;
            width: 50%;
        }
        
        &.interactive {
            .relations .group > .title {
                &:hover {
                    background-color: $color-highlight-normal;
                    
                    & ~ .item {
                        background-color: $color-highlight-lightest;
                    }
                }
            }
        }
    }
    
    &.single {
        .related {
            position: relative;
            height: steps(3);
            border: 1px solid $color-border-normal;
            
            .item {
                padding-left: steps(1);
                padding-top: steps(0.5);
                height: 100%;
            }
        }
        
        &.interactive {
            .related {
                &:hover {
                    border-color: $color-border-darker;
                }
                
                .item {
                    &:hover {
                        color: $color-text-darkest;
                        background-color: transparent;
                    }
                }
            }
        }
        
        .relations {
            display: none;
            position: absolute;
            top: steps(3);
            z-index: 10;
            background-color: white;
            width: 100%;
            margin-top: -1px;
            overflow: auto;
            border: 1px solid $color-border-normal;
            max-height: steps(20);
            
            &.active {
                display: block;
            }
        }
    }
}