@import '../environment';

.controller-menu-builder {
    #main {
        section {
            .body {
                border-color: transparent;

                .collection ul {
                    padding: 0;
                    margin: 0;

                    &:not([data-level='1']) {
                        margin-left: steps(2);
                    }

                    li {
                        list-style-type: none;

                        .node-cell {
                            margin-top: 4px;
                            padding: 6px 12px;
                            border: 1px solid $color-text-inverted-normal;

                            a {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}