@import '../environment';

.controller-arbory-sessions
{
    @include inverted( $background-color: $color-background-inverted-darkest );

    .container
    {
        position: absolute;
        top: 0;
        bottom: 0;
        width:  100%;
        height: 100%;

        > .box
        {
            width: steps(30);
            margin: 0 auto;
            position: relative;
            top: 15%;

            .logo
            {
                width:  steps(24);
                height: steps(11);
                background-repeat: no-repeat;
                background-image: url("/vendor/arbory/images/logo-login.svg");
                margin: 0 auto;
            }
        }
    }

    .logo {

    }

    .field
    {
        width: steps(30);
        min-height: auto;
        margin-bottom: steps(1);

        label
        {
            display: block;
        }

        input
        {
            font-weight: normal;
            border: none;
            padding: steps(1);
            height: auto;

        }

        .button
        {

            display: block;
            margin: steps(2) auto 0 auto;
            width: auto;
            min-width: 128px;

            background-color: $color-highlight-normal;
            color: $color-text-inverted-lightest;

            &:hover
            {
                background-color: $color-highlight-darker;
            }
        }

        &.type-checkbox .value {
            padding-top: 0;
        }

        &.info {

            margin-top: 190px;
            padding: steps(2);
            border-top: 1px solid rgba($color-border-normal, 0.1);
            text-align: center;

            a {
                color: $color-white;
                text-decoration: none;
            }

            p {
                margin: 0;
            }

            b {
                color: $color-highlight-normal;
            }
        }

    }

}
